/* Core Elements */
body {
  background: #fff;
}
a {
  transition: all 0.2s linear;
}

/* Spacing Classes */
.margin-t-15 {
  margin-top: 15px;
}
.padding-t-30 {
  padding-top: 30px;
}
.margin-b-30 {
  margin-bottom: 30px;
}

/* Body */
.wrapper {
  display: flex;
  min-height: 100%;
}
.da-main {
  background: #fff;
  width: 100%;
  margin-left: -220px;
  padding: 0 5px;
  transition: all .3s;
  position: relative;
  height: 100vh;
  overflow-y: auto;
}
.da-main.is-open {
  width: calc(100% - 220px);
  margin-left: 0;
}

/* Sidebar */
.da-sidebar {
  background-image: url('../images/influencer.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
  width: 220px;
  transition: all .3s;
}
.da-sidebar:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
  z-index: 1;
}
.da-sidebar.is-closed {
  transform: translateX(-220px);
}
.da-sidebar .sidebar-logo {
  display: block;
  margin-bottom: 40px;
  padding: 20px 0;
  border-bottom: 1px solid rgba(255,255,255,0.1);
  position: relative;
  z-index: 2;
}
.da-sidebar .sidebar-logo h1 {
  font-size: 24px;
  text-align: center;
  margin: 0;
  color: #fff;
}
.da-sidebar .sidebar-nav {
  padding: 0 15px;
  margin: 0;
  position: relative;
  z-index: 2;
}
.da-sidebar .sidebar-nav li {
  list-style: none;
  margin-bottom: 10px;
}
.da-sidebar .sidebar-nav li a {
  color: #fff;
  padding: 10px 15px;
  display: block;
  border-radius: 3px;
}
.da-sidebar .sidebar-nav li a:hover {
  background: rgba(255,255,255,0.1);
}
.da-sidebar .sidebar-nav li.active a {
  background-color:#9c27b0;
  box-shadow:0 4px 20px 0 rgba(0,0,0,.14),0 7px 10px -5px rgba(156,39,176,.4);
}
.da-sidebar .sidebar-nav li i {
  margin-right: 5px;
}

/* Navbar */
.da-nav {
  padding: 10px 0;
  margin-bottom: 30px;
}
.da-nav .nav-right {
  float: right;
  margin: 0;
}
.da-nav .nav-right li {
  display: inline-block;
  list-style: none;
}
.da-nav .nav-right li {
  margin: 0 5px;
}
.da-nav .nav-right .menu-ico:last-of-type i {
  margin-right: 0;
}
.da-nav .nav-right .form-control {
  height: 30px;
  padding-right: 30px;
}
.da-nav .search-box {
  position: relative;
}
.da-nav .search-box i {
  position: absolute;
  right: 0;
  top: 4px;
}
.da-nav .nav-right .add-ico {
  position: relative;
  top: 3px;
}
.da-nav .nav-right .add-ico i {
  color: #4caf50;
  font-size: 20px;
}
.da-nav .nav-right li i {
  color: #333;
}
.nav-btn {
  color: #333;
  display: inline-block;
  padding: 4px 0;
  cursor: pointer;
}
.nav-btn:hover, .nav-btn:not([href]):not([tabindex]):hover {
  color: #666;
}

/* Card */
.card .card-body, .card .card-footer {
  padding-left: 15px;
  padding-right: 15px;
}
.card img {
  max-width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.card .progress {
  margin-bottom: 10px;
}
.card .card-ttl {
  font-size: 20px;
  margin: 0;
}
.card p {
  margin: 0;
  line-height: 20px;
  text-align: center;
  font-size: 13px;
}
.card .card-footer {
  flex-direction: column;
}
.card-info {
  margin-bottom: 10px;
  display: block;
  width: 100%;
}
.card-info span {
  margin: 0 5px;
}
.card .btn {
  margin: 0;
}

/* Footer */
.da-footer {
  padding: 15px;
  background: #ddd;
  width: 100%;
  float: left;
  position: absolute;
  left: 0;
  margin-top: 160px;
}
.da-footer p {
  margin: 0;
  width: 100%;
}

/* Brief */
.user-image .form-check {
  float: left;
  margin-right: 10px;
  position: relative;
  top: -26px;
  left: 2px;
}
.user-image img {
  float: left;
  display: inline-block;
  width: calc(100% - 35px);
}
.user-image .user-rating {
  float: right;
  width: calc(100% - 35px);
  text-align: center;
  font-size: 16px;
  margin-top: 5px;
}
.card-h-title {
  padding-right: 0;
  padding-left: 0;
}
.card-h .card-body h4 {
  margin: 0;
  font-weight: bold;
  width: 100%;
}
.card-h .card-body p {
  margin-bottom: 0;
  text-align: left;
  width: 100%;
}
.card-h-title h4, .card-h-title p {
  float: left;
  width: calc(100% - 35px);
}
.card-h-title h4 a {
  font-size: 15px;
  margin-left: 3px;
}
.card-h-title .facebook {
  color: #3b5998;
}
.card-h-title .twitter {
  color: #1da1f2;
}
.card-h-title .g-plus {
  color: #dd4b39;
}
.card-h-title .youtube {
  color: #ff0000;
}
.card-h-title .instagram {
  color: #405de6;
}
.card-h .td-actions {
  padding: 0;
}
.card-h-actions .btn {
  color: #444;
  transition: all 0.2s linear;
}
.card-h-actions .btn:hover {
  color: #666;
}
.campaign-basic-info h2 {
  font-size: 24px;
  margin: 0;
  font-weight: 500;
}
.campaign-basic-info span {
  font-size: 18px;
  font-weight: 400;
}
.campaign-basic-info p {
  line-height: 20px;
}
.c-info-label {
  padding: 13px 0;
  display: block;
  font-size: 13px;
  font-weight: 500;
  text-align: right;
}
.info-badge {
  padding: 4px 0;
}
.tag {
  text-transform: none !important;
}
.campaign-stats {
  margin-bottom: 30px;
}
.campaign-stats .col-md-2 {
  max-width: calc(100% / 5);
  flex: auto;
}
.people {
  margin-bottom: 15px;
}
.btn.btn-blogger {
  color: #ffffff;
  background-color: #f57d00;
  border-color: #f57d00;
  -webkit-box-shadow: 0 2px 2px 0 rgba(245, 125, 0, 0.14), 0 3px 1px -2px rgba(245, 125, 0, 0.2), 0 1px 5px 0 rgba(245, 125, 0, 0.12);
  box-shadow: 0 2px 2px 0 rgba(245, 125, 0, 0.14), 0 3px 1px -2px rgba(245, 125, 0, 0.2), 0 1px 5px 0 rgba(245, 125, 0, 0.12);
}
.btn.btn-blogger:hover {
  color: #ffffff;
  background-color: #f57d00;
  border-color: #f57d00;
}
.btn.btn-blogger:focus, .btn.btn-blogger.focus, .btn.btn-blogger:hover {
  color: #ffffff;
  background-color: #f57d00;
  border-color: #f57d00;
}
.social-btns {
  margin-bottom: 30px;
  margin-top: 15px;
}
.total-cost {
  margin: 0;
  padding: 6px 0;
}
.campaign-stats.has-total-cost {
  margin-bottom: 10px;
}
.section-title {
  margin: 0 0 20px;
  font-size: 14px;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #333;
}
.actions-v .btn {
  display: block;
  margin: 0 auto;
}
.home-icon-cards .card, .icon-cards .card {
  text-align: center;
}
.home-icon-cards .icon i, .icon-cards .icon i {
  font-size: 48px;
}
.home-icon-cards .card-icon {
  margin-bottom: 10px;
}
.home-icon-cards .bmd-form-group {
  padding: 0;
}
.home-icon-cards .bmd-form-group .input-group-text {
  padding-left: 0;
  padding-right: 8px;
}
.home-icon-cards .bmd-form-group .form-control {
  border: none;
  background-size: 0;
  width: 78px;
  cursor: pointer;
}
.home-icon-cards .card .card-footer {
  border-top: 1px solid #eee;
  border-radius: 0;
  padding-top: 15px;
}
.card-icon-count {
  font-weight: bold;
  padding-top: 10px;
  display: block;
}
.home-icon-cards .col-md-2 {
  max-width: calc(100% / 5);
  flex: auto;
}
.card-h .ratings i {
  font-size: 48px;
  margin-bottom: 10px;
}
.card-h .ratings, .card-h .ratings p, .card-h .ratings label {
  text-align: center;
}
.card-h .ratings label {
  margin-bottom: 2px;
  display: block;
}
.card-h .industry b {
  display: block;
  text-align: center;
  margin-bottom: 2px;
}
.card-h .industry label {
  display: block;
  text-align: center;
  font-size: 21px;
  margin: 0;
}
.is-open .home-card-wrap .ratings {
  padding: 8px 0;
}
.is-open .home-card-wrap .card-h-actions {
  padding: 41px 0;
}
.is-open .home-card-wrap .card-h-title {
  padding: 22px 0;
}
.is-open .home-card-wrap .user-image img {
  padding: 29px 0;
}
.is-open .home-card-wrap .industry {
  padding: 30px 0;
}
.home-card-wrap .ratings {
  padding: 8px 0;
}
.home-card-wrap .card-h-actions {
  padding: 41px 0;
}
.home-card-wrap .card-h-title {
  padding: 22px 0;
}
.home-card-wrap .user-image img {
  padding: 20px 0;
}
.home-card-wrap .industry {
  padding: 30px 0;
}
.home-card-wrap .card {
  margin-top: 0;
}
.no-checkbox .user-image img {
  width: 100%;
}
.campaign-brief .campaign-basic-info {
  margin-bottom: 30px;
}
.objetivos-wrap .col-md-2 {
  max-width: calc(100% / 5);
  flex: auto;
}
.objetive-block i {
  font-size: 36px;
  display: block;
  margin-bottom: 10px;
}
.objetive-block label {
  display: block;
}
.objetive-block span {
  font-size: 24px;
}
.campaign-basic-info .campaign-count {
  float: right;
  font-size: 13px;
}
.campaign-basic-info .campaign-count i {
  font-size: 13px;
}
.campaign-basic-info .campaign-count .badge {
  font-size: 12px;
  padding: 3px 10px 2px;
}
.objetivos-wrap {
  margin-top: 0;
}
.tiempo-real {
  margin-bottom: 60px;
}
.home-icon-cards .card {
  margin-top: 0;
}
.home-icon-cards {
  margin-bottom: 30px;
  margin-top: 65px;
}
.campaign-basic-info.has-content-b {
  margin-bottom: 15px;
}
.aid-info-content {
  margin-bottom: 15px;
}
.aid-info-content h4 {
  margin: 0;
  font-weight: 500;
  font-size: 24px;
}
.ps-intercambiar .card, .condiciones .card {
  margin-top: 0;
  min-height: 180px;
}
.ps-intercambiar p {
  text-align: left;
}
.mi-list .card {
  margin-top: 0;
}
.mi-list .card-h-title {
  padding: 4px 0;
}
.mi-list .industry {
  padding: 35px 0;
}
.mi-list .card-h-actions {
  padding: 2px 0;
}
.mi-list .user-image img {
  padding: 11px 0;
}
.mi-filter .btn-group, .mi-filter .bmd-form-group, .mi-filter .slider {
  margin: 0 1px 0 0;
  width: calc(100% - 30px) !important;
  display: inline-block;
}
.mi-filter .filter-ico {
  display: inline-block;
  text-align: center;
  width: 24px;
}
.mi-filter .btn-group .dropdown-toggle {
  padding-bottom: 5px;
}
.mi-filter .bmd-form-group {
  display: inline-block;
  float: none;
  padding: 0;
}
.mi-filter {
  margin-bottom: 15px;
}
.mi-filter .slider {
  position: relative;
  top: -4px;
}
.datos-section .user-info {
  padding-left: 30px;
  text-align: center;
}
.datos-section .user-info h4 {
    font-size: 16px;
}
.datos-section .user-info h4 {
  margin: 10px 0 0;
  line-height: normal;
}
.datos-section .user-info span {
  color: #999;
  line-height: normal;
}
.user-info-form .form-group {
  padding-top: 0;
}
.user-info-form .bootstrap-select .btn {
  padding-bottom: 4px;
  padding-top: 10px;
}
.user-info-form .account-no {
  display: block;
  text-align: center;
  padding-top: 34px;
}
.user-info-form .bootstrap-select {
  margin-top: 0;
  margin-bottom: 20px;
}
.datos-section .card {
  margin-top: 0;
}
.finanzas-info {
  margin-bottom: 10px;
}
.finanzas .card-body {
  text-align: center;
}
.finanzas-info i {
  font-size: 19px;
}
.notificaciones .form-check {
  margin-top: 0;
}
.notificaciones .form-check:last-of-type {
  margin-bottom: 0;
}
.table-custom {
  width: 100%;
}
.table-custom thead {
  background: #f2f2f2;
}
.table-custom thead th {
  font-size: 12px;
  padding: 7px 5px 7px;
}
.table-custom tbody td {
  padding: 6px 5px;
}
.table-custom tbody tr:nth-of-type(even) {
  background: #f8f8f8;
}
.brand-logos img {
  display: inline-block;
  width: calc(100% / 3 - 6px);
  margin-right: 5px;
}
.brand-logos img:last-of-type {
  margin-right: 0;
}
.card-h-title .rating-stars {
  display: inline-block;
  margin-left: 5px;
  position: relative;
  top: -2px;
}
.card-h-title .rating-stars i {
  font-size: 13px;
}
.user-image {
  text-align: center;
}
.user-image .username {
  font-weight: bold;
  font-size: 13px;
}
.u-badge i {
  font-size: 90px;
}
.u-badge {
  text-align: center;
  padding: 21px 0;
}
.brand-logos {
  padding: 40px 0;
}
.información-general .card-h-title {
  padding: 13px 0;
}
.is-closed .u-badge {
  padding: 38px 0;
}
.is-closed .brand-logos {
  padding: 47px 0;
}
.is-closed .información-general .card-h-title {
  padding: 37px 0;
}
.información-general .card {
  margin-top: 0;
}
.información-general-btns .btn {
  width: 100%;
}
.información-general-btns {
  padding: 69px 0 25px;
}
.is-closed .información-general-btns {
  padding: 85px 0 45px;
}
.información-ico i {
  font-size: 21px;
  position: relative;
  top: 3px;
}
.información-ico {
  text-align: center;
}
.información-ico {
  margin-bottom: 15px;
}
.información-ico:last-of-type {
  margin-bottom: 0;
}
.géneros .other i {
  font-size: 14px;
  top: 0;
}
.confiabilidad .información-ico i {
  font-size: 75px;
  display: block;
  margin-bottom: 5px;
}
.social-ico {
  display: block;
  width: 24px;
  border-radius: 24px;
  text-align: center;
}
.social-ico i {
  color: #fff;
}
.social-ico.facebook {
  background: #3b5998;
}
.social-ico.twitter {
  background: #1da1f2;
}
.social-ico.instagram {
  background: #405de6;
}
.social-ico.youtube {
  background: #ff0000;
}
.social-ico.g-plus {
  background: #dd4b39;
}
.chart {
  margin-bottom: 15px;
}
.fc-toolbar .fc-left h2 {
  font-size: 21px;
}
.fc-button-group .fc-button {
  background: #9c27b0;
  margin-right: 10px;
  border-radius: 20px;
  color: #fff;
  text-shadow: none;
}
.fc-button-group .fc-button:last-of-type {
  margin-right: 0;
}
.fc-button {
  border-radius: 20px !important;
}
#calendar {
  border: 1px solid #eaeaea;
  margin-bottom: 30px;
}
.fc-toolbar.fc-header-toolbar {
  margin: 1em;
}
.fc-unthemed th, .fc-unthemed thead, .fc-unthemed td {
  border: none;
}
.fc-unthemed thead {
  border-bottom: 1px solid #eaeaea;
}
.fc-unthemed td {
  border-right: 1px solid #eaeaea;
}
.fc td.fc-today {
  border: none;
  background: none;
}
.fc-unthemed th {
  text-align: right;
  color: #999;
}
.fc-unthemed td {
  color: #999;
}
.fc-unthemed td:last-of-type {
  border-right: none;
}
.fc-unthemed .fc-content {
  border: none;
  color: #fff;
}
.fc-event {
  border: none;
  padding: 2px 4px;
}
.autorizaciones .card {
  margin-top: 0;
}
.autorizaciones .card .actions {
  text-align: center;
  margin: 10px;
}
.autorizaciones .card .actions i {
  padding: 0 2px;
  font-size: 16px;
}
.autorizaciones .card h4 {
  margin: 0;
}
.autorizaciones .card p {
  text-align: left;
}
.autorizaciones .card .social-ico, .autorizaciones .card .social-handle {
  display: inline-block;
  margin-right: 10px;
}
.autorizaciones .card .card-footer {
  flex-direction: row;
}
.eficiencia {
  margin-top: 30px;
}
.report-btn {
  color: #333;
  display: inline-block;
  margin-right: 30px;
}
.report-btn i {
  font-size: 36px;
  display: block;
  margin-bottom: 2px;
}
.report-btn:last-of-type {
  margin-right: 0;
}


.social-media-ico {
  float: right;
}
.people .col-md-2 {
  max-width: calc(100% / 8);
  padding: 0 10px;
}
.campaign-details .badge {
  font-size: 12px;
  text-transform: none;
  margin: 14px 0;
  padding-left: 8px;
  padding-right: 8px;
}
.gráfica-posición {
  max-height: 245px;
}
.información-general .confiabilidad, .información-general .géneros, .información-general .intereses {
    height: 138px;
}
.ci-style {
  height: 100px;
}
.ci-style .icon-wrapper {
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 5px;
  top: -30px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}
.ci-style .icon-wrapper i {
  color: #fff;
  font-size: 36px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}
.ci-style .info-wrapper {
  float: right;
  width: 100%;
  text-align: right;
  padding-left: 90px;
}
.ci-style .info-wrapper .card-category {
  margin: 0 0 4px;
  letter-spacing: 1px;
}
.ci-style .info-wrapper .card-icon-count {
  font-size: 21px;
  padding: 0;
  color: #3c4858;
}
.ci-info .icon-wrapper {
  background: #00bcd4;
}
.ci-success .icon-wrapper {
  background: #66bb6a;
}
.ci-warning .icon-wrapper {
  background: #ffa726;
}
.ci-danger .icon-wrapper {
  background: #ef5350;
}
.ci-default .icon-wrapper {
  background: #9c27b0;
}
.ci-style.has-footer {
  height: 140px;
}
.home-icon-cards .icon-wrapper {
  height: 66px;
  width: 66px;
  top: -35px;
}
.home-icon-cards .ci-style .info-wrapper {
  padding-left: 40px;
}
.home-icon-cards .ci-style .info-wrapper .card-category {
  font-size: 11px;
}
.home-icon-cards .ci-style .card-footer {
  padding-top: 5px;
  padding-bottom: 5px;
}
.home-icon-cards .icon-wrapper i {
  font-size: 30px;
}
.card-blog .card-info {
  text-align: center;
}
